<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dailypet.infra.modules.comment.CommentMapper">

	<resultMap id="resultMapObj" type="com.dailypet.infra.modules.comment.Comment"></resultMap>

	<!-- 댓글 s -->
	<select id="commentList" resultMap="resultMapObj"> 
		SELECT
			co.ifcmSeq
			, co.da_ifdaSeq
			, co.ifcmContent
			, co.ifcmRegDate
			, mm.ifmmID
			, mmup.path		AS mmPath
			, mmup.uuidName	AS mmuuidName
	    FROM comment co
	    JOIN diary da
	    ON co.da_ifdaSeq = da.ifdaSeq
	    JOIN member mm
	    ON co.mm_ifmmSeq = mm.ifmmSeq
	    JOIN memberUploaded mmup
	    ON mm.ifmmSeq = mmup.pseq
	    WHERE da.ifdaSeq = #{ifdaSeq}
	</select>
	<select id="cmItem" resultMap="resultMapObj">
		SELECT
			co.ifcmSeq
			, co.da_ifdaSeq
			, co.ifcmContent
			, co.ifcmRegDate
			, mm.ifmmID
			, mmup.path		AS mmPath
			, mmup.uuidName	AS mmuuidName
	    FROM comment co
	    JOIN diary da
	    ON co.da_ifdaSeq = da.ifdaSeq
	    JOIN member mm
	    ON co.mm_ifmmSeq = mm.ifmmSeq
	    JOIN memberUploaded mmup
	    ON mm.ifmmSeq = mmup.pseq
	    WHERE #{i} = da.ifdaSeq
	</select>
	
	<select id="commentOne" resultMap="resultMapObj">
		SELECT
			mm.ifmmID
			,mmup.path
			,mmup.uuidName
		FROM member mm
        JOIN memberUploaded mmup
        ON mm.ifmmSeq = mmup.pseq
		WHERE 1=1
        AND mm.ifmmSeq = #{ifmmSeq}
	</select>
	<!-- 댓글 e -->
	
	<!-- 일기댓글인서트 -->
	<insert id="commentInst">
		INSERT INTO comment (
			type
			,ifcmContent
			,ifcmRegDate
			,ifcmDelNy
			,da_ifdaSeq
			,mm_ifmmSeq
		) 
		VALUES (
			2
			,#{ifcmContent}
			,now()
			,0
			,#{ifdaSeq}
			,#{ifmmSeq}  
		)
		<selectKey resultType="String" keyProperty="ifcmSeq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>	
	</insert>
	 
	<delete id="commentDel">
		DELETE 
		FROM comment 
		WHERE da_ifdaSeq = #{ifdaSeq}
	</delete>
	
</mapper>