<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dailypet.infra.modules.follow.FollowMapper">

	<resultMap id="resultMapObj" type="com.dailypet.infra.modules.follow.Follow"></resultMap>
	
	<insert id="insertFollow">
		INSERT INTO follow (
			iffwFollow
			,iffwFollower
		)
		VALUE (
			#{iffwFollow}
			,#{iffwFollower}
		)
	</insert>
	<delete id="delete">
	
		DELETE FROM follow
		WHERE iffwFollow = #{iffwFollow}
		AND iffwFollower = #{iffwFollower} 
	
	</delete>
	
	<select id="selectChkFollow" resultType="Integer">
		
		SELECT
			COUNT(*)
		FROM follow
		WHERE iffwFollower = #{iffwFollower}
		AND iffwFollow = #{iffwFollow}
		
	</select>
	
	<select id="selectCountFollowed" resultType="Integer" parameterType="Integer">
		SELECT COUNT(*)
		FROM follow
		WHERE iffwFollow = #{target}
	</select>
	
	<select id="selectCountFollowing" resultType="Integer" parameterType="Integer">
		SELECT COUNT(*)
		FROM follow
		WHERE iffwFollower = #{target}
	</select>
	
</mapper>	