<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dailypet.infra.modules.follow.FollowMapper">

	<resultMap id="resultMapObj" type="com.dailypet.infra.modules.follow.Follow"></resultMap>
	
	<insert id="insertFollow">
		INSERT INTO follow (
			iffwFollow
			,iffwFollower
		)
		VALUE (
			#{iffwFollow}
			,#{iffwFollower}
		)
	</insert>
	
	
</mapper>	