<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dailypet.infra.modules.diary.DiaryMapper">

    <resultMap id="resultMapObj" type="com.dailypet.infra.modules.diary.Diary"></resultMap>
	
	<select id="selectList" resultMap="resultMapObj">
		SELECT 
			a.ifdaSeq
		    , a.ifdaContents
		    , a.ifdaRegDate
			, a.mm_ifmmSeq 
		    , b.ifmmID
		    <!-- 일기이미지 -->
		    , c.path	AS diaryPath
			, c.uuidName	AS diaryuuidName
            <!-- 일기 올린사람 이미지 -->
            , d.path	AS memberPath
            , d.uuidName	AS memberuuidName
		FROM diary a
		JOIN member b ON a.mm_ifmmSeq = b.ifmmSeq
		JOIN diaryUploaded c ON c.pseq = a.mm_ifmmSeq
        JOIN memberUploaded d ON d.pseq = a.mm_ifmmSeq
		WHERE 1=1
		AND a.ifdaSeq = c.seq
		ORDER BY a.ifdaSeq DESC
	</select>
	
	<select id="mypageImageList" resultMap="resultMapObj">
		SELECT
			a.seq
			,a.path		AS diaryPath
			,a.uuidName	AS diaryuuidName
			,b.ifdaSeq
		FROM diaryUploaded a
		JOIN diary b ON a.seq = b.ifdaSeq
		WHERE 1=1
		AND pseq = #{ifmmSeq}
	</select>
	<select id="mypageDetailList" resultMap="resultMapObj">
	   	SELECT
			  a.ifdaSeq
			, a.mm_ifmmSeq
	        , d.ifmmID
			, a.ifdaContents
			, a.ifdaRegDate
	        , b.path		AS diaryPath
	        , b.uuidName	AS diaryuuidName
	        , c.path		AS memberPath
	        , c.uuidName	AS memberuuidName
	    FROM diary a
	    JOIN diaryUploaded b ON a.mm_ifmmSeq = b.pseq
	    JOIN memberUploaded c ON a.mm_ifmmSeq = c.pseq
	    JOIN member d ON a.mm_ifmmSeq = d.ifmmSeq
	    WHERE a.ifdaSeq = b.seq
	    AND a.mm_ifmmSeq = #{ifmmSeq}
	</select>
	
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			mm.*
			,b.path			AS memberPath
			,b.uuidName		AS memberuuidName
			,(
				SELECT
					count(*)
				FROM diary di
				WHERE di.mm_ifmmSeq = mm.ifmmSeq	
			)	AS diaryPostCount
		FROM member mm
		JOIN memberUploaded b ON mm.ifmmSeq = b.pseq
		WHERE 1=1
		AND ifmmSeq = #{ifmmSeq}
	</select>
	
	<insert id="insertDiary">
		INSERT INTO diary (
			ifdaContents
			,mm_ifmmSeq
		)
		VALUES (
			#{ifdaContents}
			,#{ifmmSeq}
		)
		<selectKey resultType="String" keyProperty="ifdaSeq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
	<insert id="insertPetUpload">
		INSERT INTO diaryUploaded (
			<!-- seq -->
			type
			,defaultNy
			,sort
			,path
			,originalName
			,uuidName
			,ext
			,size
			,delNy
			,pseq
		)
		VALUES (
			<!-- #{seq} -->
			#{type}
			,#{defaultNy}
			,#{sort}
			,#{path}
			,#{originalName}
			,#{uuidName}
			,#{ext}
			,#{size}
			,0
			,#{pseq}
		)
	</insert>
	<!-- 게시물상세 -->
	<select id="selectOnePost" resultMap="resultMapObj">
		SELECT
			di.*
	        ,mm.ifmmID
	        ,diup.path		AS diPath
	        ,diup.uuidName	AS diuuidName
	        ,mmup.path		AS mmPath
	        ,mmup.uuidName	AS mmuuidName
	        ,(
        		SELECT
        		COUNT
	        )
		FROM diary di
	    JOIN diaryUploaded diup
	    ON di.mm_ifmmSeq = diup.pseq
		JOIN memberUploaded mmup
	    ON di.mm_ifmmSeq = mmup.pseq
	    JOIN member mm
	    ON di.mm_ifmmSeq = mm.ifmmSeq
	    WHERE di.ifdaSeq = diup.seq
	    AND di.ifdaSeq = #{ifdaSeq}
	</select>
	<!-- 댓글 s -->
	<select id="comentList">
		SELECT
	    	ifcmContent
	       , ifcmRegDate
	       , ifmmID
	       , path		AS mmPath
	       , uuidName	AS mmuuidName
	    FROM comment co
	    JOIN member mm
	    ON co.mm_ifmmSeq = mm.ifmmSeq
	    JOIN memberUploaded mmup
	    ON mm.ifmmSeq = mmup.pseq
	    WHERE co.da_ifdaSeq = #{ifdaSeq}
	</select>
	
	<insert id="insertComent">
		INSERT INTO coment (
			ifcmContent
			,ifcmRegDate
			,ifcmDelNy
			,da_ifdaSeq
			,mm_ifmmSeq
		) 
		VALUE (
			#{ifcmContent}
			,now()
			,0
			,#{ifdaSeq}
			,#{ifmmSeq}
		)
		
	</insert>
	<select id="comentOne" resultMap="resultMapObj">
		SELECT
			mm.ifmmID
			,mmup.path		AS mmPath
			,mmup.uuidName	AS mmuuidName
		FROM member mm
        JOIN memberUploaded mmup
        ON mm.ifmmSeq = mmup.pseq
		WHERE 1=1
        AND mmup.pseq = #{ifmmSeq}
	</select>
	<!-- 댓글 e -->
</mapper>	