<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dailypet.infra.modules.member.MemberMapper">

	<resultMap id="resultMapObj" type="com.dailypet.infra.modules.member.Member"></resultMap>

	<select id="selectList" resultMap="resultMapObj">
		SELECT 
			a.ifmmSeq
			, a.ifmmName
			, a.ifmmZipcode
			, a.ifmmAddr1
			, a.ifmmAddr2
			, a.ifmmAddr3
			, a.ifmmID
			, a.ifmmPW
			, a.ifmmNickname
			, a.ifmmTelecom
			, a.ifmmTel
			, a.ifmmEmail
			, a.ifmmEmailID
			, a.ifmmEmailDomain
			, a.ifmmIntroduction
			, a.ifmmRegDate
			, a.ifmmModDate
			, a.ifmmDelNy
		FROM member a
		WHERE 1=1
		ORDER BY a.ifmmSeq DESC;
	</select>
	
	<select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
	</select>
	
	<select id="selectOne" resultMap ="resultMapObj">
		SELECT 
			a.*
		FROM member a
		WHERE 1=1
			AND a.ifmmSeq = #{ifmmSeq}
	</select>
	
	<select id="selectOneID" resultMap="resultMapObj">
		SELECT
			ifmmSeq
			, ifmmID
		FROM
			member
		WHERE 
			1=1
			AND ifmmID = #{ifmmID}
	</select>
	
	<select id="selectOneLogin" resultMap="resultMapObj">
		SELECT
			ifmmSeq
			, ifmmID
		FROM
			member
		WHERE 
			1=1
			AND ifmmID = #{ifmmID}
			<if test="ifmmPW != null and !ifmmPW.equals('')">
				AND ifmmPW = #{ifmmPW}
			</if>
			AND ifmmDelNy = 0
	</select>
	
</mapper>