<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dailypet.infra.modules.member.MemberMapper">

	<resultMap id="resultMapObj" type="com.dailypet.infra.modules.member.Member"></resultMap>
	
	<sql id = "selectCommon">
		FROM member a
		WHERE 1=1
		ORDER BY a.ifmmSeq DESC
		
		<if test="shDelNy != null and !shDelNy.equals('')">AND a.ifmmDelNy = #{shDelNy}</if>
		<if test="shUseNy != null and !shUseNy.equals('')">AND a.ifmmUseNy = #{shUseNy}</if>
		
		<choose>
			<when test="shOptionDate == 1">AND a.ifmmRegDate BETWEEN #{shstartDate} AND #{shendDate}</when>
		</choose>
		
		<choose>
			<when test="shOption == 1">AND a.ifmmName LIKE CONCAT('%',#{shValue},'%')</when>
			<when test="shOption == 2">AND a.ifmmNickname LIKE CONCAT('%',#{shValue},'%')</when>
			<when test="shOption == 3">AND a.ifmmAddr1 LIKE CONCAT('%',#{shValue},'%')</when>
		</choose>
	</sql>
	
	<select id="selectList" resultMap="resultMapObj">
		<include refid="Base.selectListUpperForMysql" />
			SELECT 
				a.ifmmSeq
				, a.ifmmName
				, a.ifmmZipcode
				, a.ifmmAddr1
				, a.ifmmAddr2
				, a.ifmmAddr3
				, a.ifmmID
				, a.ifmmPW
				, a.ifmmNickname
				, a.ifmmTelecom
				, a.ifmmTel
				, a.ifmmEmail
				, a.ifmmEmailID
				, a.ifmmEmailDomain
				, a.ifmmIntroduction
				, a.ifmmRegDate
				, a.ifmmModDate
				, a.ifmmDelNy
			<include refid="selectCommon" />
		<include refid="Base.selectListLowerForMysql" />
	</select>
	
	<!-- 회원가입 -->
	<insert id="userInsert">
		INSERT INTO member (
			ifmmName
			, ifmmZipcode
			, ifmmAddr1
			, ifmmAddr2
			, ifmmAddr3
			, ifmmID
			, ifmmPW
			, ifmmNickname
			, ifmmTelecom
			, ifmmTel
			, ifmmEmail
			, ifmmEmailID
			, ifmmEmailDomain
			, ifmmRegDate
			, ifmmDelNy
		)
		VALUES (
			#{ifmmName}
			, #{ifmmZipcode}
			, #{ifmmAddr1}
			, #{ifmmAddr2}
			, #{ifmmAddr3}
			, #{ifmmID}
			, #{ifmmPW}
			, #{ifmmNickname}
			, #{ifmmTelecom}
			, #{ifmmTel}
			, #{ifmmEmail}
			, #{ifmmEmailID}
			, #{ifmmEmailDomain}
			, now()
			, 0
		)
		
		<selectKey resultType="String" keyProperty="ifmmSeq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
	<!-- 회원 이미지 인서트 -->
	<insert id="userimgInsert">
		INSERT INTO memberUploaded (
			type
			,defaultNy
			,sort
			,path
			,originalName
			,uuidName
			,ext
			,size
			,delNy
			,pseq
		)
		VALUES (
			#{type}
			,#{defaultNy}
			,#{sort}
			,#{path}
			,#{originalName}
			,#{uuidName}
			,#{ext}
			,#{size}
			,0
			,#{pseq}
		)
	</insert>
	
	<select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
	</select>
	
	<select id="selectOne" resultMap ="resultMapObj">
		SELECT 
			a.*
		FROM member a
		WHERE 1=1
			AND a.ifmmSeq = #{ifmmSeq}
	</select>
	
	<select id="selectOneID" resultMap="resultMapObj">
		SELECT
			ifmmSeq
			, ifmmID
		FROM
			member
		WHERE 
			1=1
			AND ifmmID = #{ifmmID}
	</select>
	
	<select id="selectOneLogin" resultMap="resultMapObj">
		SELECT
			ifmmSeq
			, ifmmID
		FROM
			member
		WHERE 
			1=1
			AND ifmmID = #{ifmmID}
			<if test="ifmmPW != null and !ifmmPW.equals('')">
				AND ifmmPW = #{ifmmPW}
			</if>
			AND ifmmDelNy = 0
	</select>
	
	<!-- 아이디 중복 체크 -->
	<select id="selectOneCheckId" resultType="Integer">
		SELECT
			COUNT(*)
		FROM
			member
		WHERE 
			ifmmID = #{ifmmID}
	</select>
	
	<!-- 닉네임 중복 체크 -->
	<select id="nickCheck" resultType="Integer">
		SELECT
			COUNT(*)
		FROM
			member
		WHERE 
			ifmmNickname = #{ifmmNickname}
	</select>
	
	<select id="selectOneCheckNick" resultType="Integer">
		SELECT
			COUNT(*)
		FROM
			member
		WHERE 
			ifmmNickname = #{ifmmNickname}
	</select>
	
	<!-- 마이페이지 -->
	<select id="selectMypage" resultMap="resultMapObj">
		SELECT 
			mm.*
			,mmup.path		AS mmPath
			,mmup.uuidName	AS mmuuidName
            ,pet.*
            ,petup.path		AS petPath
            ,petup.uuidName	AS petuuidName
		FROM member mm
		JOIN memberUploaded mmup
		ON mm.ifmmSeq = mmup.pseq
        JOIN animal pet
        ON mm.ifmmSeq = pet.mm_ifmmSeq
        JOIN petUploaded petup
        ON pet.ifamSeq = petup.pseq
        WHERE 1=1
        AND mm.ifmmSeq = #{ifmmSeq}
	</select>
	
	<update id="userUpdate">
		UPDATE member
		SET
			  ifmmName			=	#{ifmmName}
			, ifmmZipcode		=	#{ifmmZipcode}
			, ifmmAddr1			=	#{ifmmAddr1}
			, ifmmAddr2			=	#{ifmmAddr2}
			, ifmmAddr3			=	#{ifmmAddr3}
			, ifmmNickname		=	#{ifmmNickname}
			, ifmmTelecom		=	#{ifmmTelecom}
			, ifmmTel			=	#{ifmmTel}
			, ifmmEmail			=   CONCAT(#{ifmmEmailID},
									<choose>
										<when test="ifmmEmailDomain eq 4">'@naver.com')</when>
										<when test="ifmmEmailDomain eq 5">'@gmail.com')</when>
										<when test="ifmmEmailDomain eq 6">'@hanmail.com')</when>
										<when test="ifmmEmailDomain eq 7">'@nate.com')</when>
										<when test="ifmmEmailDomain eq 8">'@daum.net')</when>
									</choose>
			, ifmmEmailID		=	#{ifmmEmailID}
			, ifmmEmailDomain	=	#{ifmmEmailDomain}
			, ifmmIntroduction	=	#{ifmmIntroduction}
			, ifmmModDate		=	now()
		WHERE 1=1
		AND ifmmSeq = #{ifmmSeq}
	</update>
	
	<update id="userImgUpdate">
		UPDATE memberUploaded
		SET	
			type			= #{type}
			,defaultNy		= #{defaultNy}
			,sort			= #{sort}
			,path			= #{path}
			,originalName	= #{originalName}
			,uuidName		= #{uuidName}
			,ext			= #{ext}
			,size			= #{size}
			,delNy			= 0
			
		WHERE 1=1
		AND pseq = #{ifmmSeq}	
	</update>
	
	<update id="memberDel">
		UPDATE member
		SET 
			ifmmDelNy = 1
		WHERE 
			ifmmSeq = #{seq}
	</update>
	
</mapper>