<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dailypet.infra.modules.findpet.FindpetMapper">

<resultMap id="resultMapObj" type="com.dailypet.infra.modules.findpet.Findpet"></resultMap>


	<select id="selectList" resultMap="resultMapObj">
		SELECT
			 find.iffpSeq
		    ,find.iffpName
		    ,findup.path
		    ,findup.uuidName
		FROM findpet find
		JOIN abandonedUploaded findup
		ON find.iffpSeq = findup.pseq
		WHERE 1=1
		ORDER BY find.iffpSeq DESC
	</select>
	<select id="findpetOne" resultMap="resultMapObj">
		SELECT
			  find.*
			 ,findup.path
			 ,findup.uuidName
		FROM findpet find
		JOIN abandonedUploaded findup
		ON find.iffpSeq = findup.pseq
		WHERE find.iffpSeq = #{iffpSeq}
	</select>
	<insert id="findPetInst">
		INSERT INTO findpet (
			iffpName
			,iffpBrred
			,iffpGender
			,iffpAnimalShelterzipCode
			,iffpAnimalShelter1
			,iffpAnimalShelter2
			,iffpSpotPlace
			,iffpSpotDate
			,iffpCharacteristic
			,iffpDelNY
			,iffpRegDate
			,mm_ifmmSeq
		)
		VALUE (
			#{iffpName}
			,#{iffpBrred}
			,#{iffpGender}
			,#{iffpAnimalShelterzipCode}
			,#{iffpAnimalShelter1}
			,#{iffpAnimalShelter2}
			,#{iffpSpotPlace}
			,#{iffpSpotDate}
			,#{iffpCharacteristic}
			,0
			,now()
			,#{ifmmSeq}
		)
		<selectKey resultType="String" keyProperty="iffpSeq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	<insert id="findPetImgInst">
		INSERT INTO abandonedUploaded (
			type
			,defaultNy
			,sort
			,path
			,originalName
			,uuidName
			,ext
			,size
			,delNy
			,pseq
		)
		VALUES (
			#{type}
			,#{defaultNy}
			,#{sort}
			,#{path}
			,#{originalName}
			,#{uuidName}
			,#{ext}
			,#{size}
			,0
			,#{pseq}
		)
	</insert>
	<select id="commentList" resultMap="resultMapObj">
		SELECT
			mm.ifmmID
		    ,mmup.path
		    ,mmup.uuidName
		    ,co.ifcmContent
		    ,co.ifcmRegDate
		FROM member mm
		JOIN memberUploaded mmup
		ON mm.ifmmSeq = mmup.pseq
		JOIN comment co
		ON mm.ifmmSeq = co.mm_ifmmSeq
		WHERE 1=1
		AND co.type = 1
		AND co.fp_iffpSeq = #{iffpSeq}
	
	</select>
	
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
		     find.*
		    ,findup.path
		    ,findup.uuidName
		    ,(	
		    	SELECT
		    		COUNT(*)
		    	FROM comment co
		    	WHERE find.iffpSeq = co.fp_iffpSeq
		    )	AS commentcount
	    FROM findpet find
	    JOIN abandonedUploaded findup
	    ON find.iffpSeq = findup.pseq 
	    WHERE 1=1
	    AND find.iffpSeq = #{iffpSeq}
	</select>
	<insert id="comentInst">
		INSERT INTO comment (
			mm_ifmmSeq
			,ifcmContent
			,type
			,ifcmRegDate
			,fp_iffpSeq
			,ifcmDelNy
		)
		VALUE(
			#{ifmmSeq}
			,#{ifcmContent}
			, 1
			, now()
			,#{iffpSeq}
			,0
		)
	</insert>
	<select id="comentOne" resultMap="resultMapObj">
		SELECT
			mm.ifmmID	AS writer
			,mmup.path
			,mmup.uuidName
		FROM member mm
		JOIN  memberUploaded mmup  
		ON mm.ifmmSeq = mmup.pseq  
		WHERE 1=1
		AND mm.ifmmSeq = #{ifmmSeq}
	</select>
	
</mapper>	