<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dailypet.infra.modules.findpet.FindpetMapper">

<resultMap id="resultMapObj" type="com.dailypet.infra.modules.findpet.Findpet"></resultMap>
	
	

	<select id="selectList" resultMap="resultMapObj">
		<include refid="Base.selectListUpperForMysql" />
		SELECT
			 find.iffpSeq
		    ,find.iffpName
		    ,find.iffpBreed
		    ,findup.path
		    ,findup.uuidName
		FROM findpet find
		JOIN abandonedUploaded findup
		ON find.iffpSeq = findup.pseq
		WHERE 1=1
		ORDER BY find.iffpSeq DESC
		<include refid="Base.orderByLimitForMysql" />
		<include refid="Base.selectListLowerForMysql" />
		
	</select>
	
	<select id="selectOneCount" resultType="Integer">
		SELECT 
			COUNT(*)
		FROM findpet
		WHERE 1=1	
	</select>
	
	<select id="findpetOne" resultMap="resultMapObj">
		SELECT
			  find.*
			 ,findup.path
			 ,findup.uuidName
		FROM findpet find
		JOIN abandonedUploaded findup
		ON find.iffpSeq = findup.pseq
		WHERE find.iffpSeq = #{iffpSeq}
	</select>
	
	<insert id="findPetInst">
		INSERT INTO findpet (
			iffpName
			,iffpBreed
			,iffpGender
			,iffpAnimalShelterzipCode
			,iffpAnimalShelter1
			,iffpAnimalShelter2
			,iffpSpotPlace
			,iffpSpotDate
			,iffpSpotLocation
			,iffpCharacteristic
			,iffpDelNY
			,iffpRegDate
			,mm_ifmmSeq
		)
		VALUE (
			#{iffpName}
			,#{iffpBreed}
			,#{iffpGender}
			,#{iffpAnimalShelterzipCode}
			,#{iffpAnimalShelter1}
			,#{iffpAnimalShelter2}
			,#{iffpSpotPlace}
			,#{iffpSpotDate}
			,#{iffpSpotLocation}
			,#{iffpCharacteristic}
			,0
			,now()
			,#{ifmmSeq}
		)
		<selectKey resultType="String" keyProperty="iffpSeq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
	<update id="findPetUpdt">
		UPDATE findpet
		SET
			 iffpName					= #{iffpName}
			,iffpBreed					= #{iffpBreed}
			,iffpGender					= #{iffpGender}
			,iffpAnimalShelterzipCode	= #{iffpAnimalShelterzipCode}
			,iffpAnimalShelter1			= #{iffpAnimalShelter1}
			,iffpAnimalShelter2			= #{iffpAnimalShelter2}
			,iffpSpotPlace				= #{iffpSpotPlace}
			,iffpSpotDate				= #{iffpSpotDate}
			,iffpSpotLocation			= #{iffpSpotLocation}
			,iffpDelNY					= 0
			,iffpModDate				= now()
		WHERE 1=1
		AND iffpSeq = #{iffpSeq}
	</update>
	
	<update id="findPetImgUpdt">
		UPDATE abandonedUploaded
		SET	
			type			= #{type}
			,defaultNy		= #{defaultNy}
			,sort			= #{sort}
			,path			= #{path}
			,originalName	= #{originalName}
			,uuidName		= #{uuidName}
			,ext			= #{ext}
			,size			= #{size}
			,delNy			= 0
		WHERE 1=1
		AND pseq = #{iffpSeq}	
	</update>
	
	<insert id="findPetImgInst">
		INSERT INTO abandonedUploaded (
			type
			,defaultNy
			,sort
			,path
			,originalName
			,uuidName
			,ext
			,size
			,delNy
			,pseq
		)
		VALUES (
			#{type}
			,#{defaultNy}
			,#{sort}
			,#{path}
			,#{originalName}
			,#{uuidName}
			,#{ext}
			,#{size}
			,0
			,#{pseq}
		)
	</insert>
	
	<select id="commentList" resultMap="resultMapObj">
		SELECT
			mm.ifmmID
		    ,mmup.path
		    ,mmup.uuidName
		    ,co.ifcmContent
		    ,co.ifcmRegDate
		FROM member mm
		JOIN memberUploaded mmup
		ON mm.ifmmSeq = mmup.pseq
		JOIN comment co
		ON mm.ifmmSeq = co.mm_ifmmSeq
		WHERE 1=1
		AND co.type = 1
		AND co.fp_iffpSeq = #{iffpSeq}
	
	</select>
	
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
		     find.*
		    ,findup.path
		    ,findup.uuidName
		    ,(	
		    	SELECT
		    		COUNT(*)
		    	FROM comment co
		    	WHERE find.iffpSeq = co.fp_iffpSeq
		    )	AS commentcount
	    FROM findpet find
	    JOIN abandonedUploaded findup
	    ON find.iffpSeq = findup.pseq 
	    WHERE 1=1
	    AND find.iffpSeq = #{iffpSeq}
	</select>
	
	<insert id="commentInst">
		INSERT INTO comment (
			mm_ifmmSeq
			,ifcmContent
			,type
			,ifcmRegDate
			,fp_iffpSeq
			,ifcmDelNy
		)
		VALUE(
			#{ifmmSeq}
			,#{ifcmContent}
			, 1
			, now()
			,#{iffpSeq}
			,0
		)
	</insert>
	
	<select id="commentOne" resultMap="resultMapObj">
		SELECT
			mm.ifmmID	AS writer
			,mmup.path
			,mmup.uuidName
		FROM member mm
		JOIN  memberUploaded mmup  
		ON mm.ifmmSeq = mmup.pseq  
		WHERE 1=1
		AND mm.ifmmSeq = #{ifmmSeq}
	</select>
	
	<!-- 유기동물 등록 시 품종 추가 -->
	<select id="BreedAdd" resultMap="resultMapObj">
		SELECT
			a.ifcdSeq
			, a.ifcdName
			, a.cg_ifcgSeq
			, b.ifcgSeq
		FROM code a
		JOIN codegroup b ON b.ifcgSeq = a.cg_ifcgSeq
		WHERE 1=1
		AND b.ifcgSeq = 5
	</select>
	
	<!-- 지역별 탭 -->
	<select id="selectKorea" resultMap="resultMapObj">
		SELECT
			a.*
			, c.*
		FROM findpet a
			LEFT JOIN abandonedUploaded c ON a.iffpSeq = c.pseq
		WHERE 1=1
		AND c.defaultNY = 1 
		ORDER BY a.iffpSeq DESC
	</select>
	<select id="selectSeoul" resultMap="resultMapObj">
		SELECT
			a.*
			, c.*
		FROM findpet a
			LEFT JOIN abandonedUploaded c ON a.iffpSeq = c.pseq
		WHERE 1=1
		AND c.defaultNY = 1 
		AND a.iffpSpotLocation = 13
	</select>
	<select id="selectGyeonggi" resultMap="resultMapObj">
		SELECT
			a.*
			, c.*
		FROM findpet a
			LEFT JOIN abandonedUploaded c ON a.iffpSeq = c.pseq
		WHERE 1=1
		AND c.defaultNY = 1 
		AND a.iffpSpotLocation = 14
	</select>
	<select id="selectIncheon" resultMap="resultMapObj">
		SELECT
			a.*
			, c.*
		FROM findpet a
			LEFT JOIN abandonedUploaded c ON a.iffpSeq = c.pseq
		WHERE 1=1
		AND c.defaultNY = 1 
		AND a.iffpSpotLocation = 15
	</select>
	<select id="selectGangwon" resultMap="resultMapObj">
		SELECT
			a.*
			, c.*
		FROM findpet a
			LEFT JOIN abandonedUploaded c ON a.iffpSeq = c.pseq
		WHERE 1=1
		AND c.defaultNY = 1 
		AND a.iffpSpotLocation = 16
	</select>
	<select id="selectBusan" resultMap="resultMapObj">
		SELECT
			a.*
			, c.*
		FROM findpet a
			LEFT JOIN abandonedUploaded c ON a.iffpSeq = c.pseq
		WHERE 1=1
		AND c.defaultNY = 1 
		AND a.iffpSpotLocation = 17
	</select>
	<select id="selectDaegu" resultMap="resultMapObj">
		SELECT
			a.*
			, c.*
		FROM findpet a
			LEFT JOIN abandonedUploaded c ON a.iffpSeq = c.pseq
		WHERE 1=1
		AND c.defaultNY = 1 
		AND a.iffpSpotLocation = 18
	</select>
	<select id="selectDaejeon" resultMap="resultMapObj">
		SELECT
			a.*
			, c.*
		FROM findpet a
			LEFT JOIN abandonedUploaded c ON a.iffpSeq = c.pseq
		WHERE 1=1
		AND c.defaultNY = 1 
		AND a.iffpSpotLocation = 19
	</select>
	<select id="selectGwangju" resultMap="resultMapObj">
		SELECT
			a.*
			, c.*
		FROM findpet a
			LEFT JOIN abandonedUploaded c ON a.iffpSeq = c.pseq
		WHERE 1=1
		AND c.defaultNY = 1 
		AND a.iffpSpotLocation = 20
	</select>
	<select id="selectUlsan" resultMap="resultMapObj">
		SELECT
			a.*
			, c.*
		FROM findpet a
			LEFT JOIN abandonedUploaded c ON a.iffpSeq = c.pseq
		WHERE 1=1
		AND c.defaultNY = 1 
		AND a.iffpSpotLocation = 21
	</select>
	<select id="selectSejong" resultMap="resultMapObj">
		SELECT
			a.*
			, c.*
		FROM findpet a
			LEFT JOIN abandonedUploaded c ON a.iffpSeq = c.pseq
		WHERE 1=1
		AND c.defaultNY = 1 
		AND a.iffpSpotLocation = 22
	</select>
	<select id="selectChungbuk" resultMap="resultMapObj">
		SELECT
			a.*
			, c.*
		FROM findpet a
			LEFT JOIN abandonedUploaded c ON a.iffpSeq = c.pseq
		WHERE 1=1
		AND c.defaultNY = 1 
		AND a.iffpSpotLocation = 23
	</select>
	<select id="selectChungnam" resultMap="resultMapObj">
		SELECT
			a.*
			, c.*
		FROM findpet a
			LEFT JOIN abandonedUploaded c ON a.iffpSeq = c.pseq
		WHERE 1=1
		AND c.defaultNY = 1 
		AND a.iffpSpotLocation = 24
	</select>
	<select id="selectGyeongbuk" resultMap="resultMapObj">
		SELECT
			a.*
			, c.*
		FROM findpet a
			LEFT JOIN abandonedUploaded c ON a.iffpSeq = c.pseq
		WHERE 1=1
		AND c.defaultNY = 1 
		AND a.iffpSpotLocation = 25
	</select>
	<select id="selectGyeongnam" resultMap="resultMapObj">
		SELECT
			a.*
			, c.*
		FROM findpet a
			LEFT JOIN abandonedUploaded c ON a.iffpSeq = c.pseq
		WHERE 1=1
		AND c.defaultNY = 1 
		AND a.iffpSpotLocation = 26
	</select>
	<select id="selectJeonbuk" resultMap="resultMapObj">
		SELECT
			a.*
			, c.*
		FROM findpet a
			LEFT JOIN abandonedUploaded c ON a.iffpSeq = c.pseq
		WHERE 1=1
		AND c.defaultNY = 1 
		AND a.iffpSpotLocation = 27
	</select>
	<select id="selectJeonnam" resultMap="resultMapObj">
		SELECT
			a.*
			, c.*
		FROM findpet a
			LEFT JOIN abandonedUploaded c ON a.iffpSeq = c.pseq
		WHERE 1=1
		AND c.defaultNY = 1 
		AND a.iffpSpotLocation = 28
	</select>
	<select id="selectJeju" resultMap="resultMapObj">
		SELECT
			a.*
			, c.*
		FROM findpet a
			LEFT JOIN abandonedUploaded c ON a.iffpSeq = c.pseq
		WHERE 1=1
		AND c.defaultNY = 1 
		AND a.iffpSpotLocation = 29
	</select>
</mapper>	