<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dailypet.infra.modules.reservation.ReservationMapper">

	<resultMap id="resultMapObj" type="com.dailypet.infra.modules.reservation.Reservation"></resultMap>
	
	<select id="selectList" resultMap="resultMapObj">
		SELECT
			a.*
			, b.ifmmSeq
			, b.ifmmName
			, b.ifmmTel
		FROM reservation a
		JOIN member b ON a.member_seq = b.ifmmSeq
		WHERE a.member_seq = #{ifmmSeq}
	</select>
	
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			ifmmSeq
			, ifmmName
			, ifmmTel
		FROM member
		WHERE 1=1 
		AND ifmmSeq = #{ifmmSeq}
	</select>
	
<!-- 	
	<select id="selectDefault" resultMap="resultMapObj">
		SELECT
			b.ifrsSeq
			, b.member_seq
			, a.ifmmSeq
			, a.ifmmName
			, a.ifmmTel
		FROM member a
		JOIN reservation b ON b.member_seq = a.ifmmSeq
		WHERE 1=1
		AND ifmmSeq = #{ifmmSeq}
		AND b.ifrsSeq = #{ifrsSeq}
	</select>
-->	
	
	<!-- 예약정보입력 -->
	<insert id="insertRV">
		INSERT INTO reservation (
			ifrsPlace
			, member_seq
			, ifrsLocation
			, ifrsTel
			, ifrsPetName
			, ifrsPurpose
			, ifrsHopeDate
			, ifrsRequest
			, ifrsRegDate
			, ifrsDelNy
		)
		VALUES (
			#{ifrsPlace}
			, #{ifmmSeq}
			, #{ifrsLocation}
			, #{ifrsTel}
			, #{ifrsPetName}
			, #{ifrsPurpose}
			, #{ifrsHopeDate}
			, #{ifrsRequest}
			, now()
			, 0
		)
		<selectKey resultType="String" keyProperty="ifrsSeq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
	<!-- 예약 정보 -->
	<select id="selectInfo" resultMap="resultMapObj">
		SELECT
			a.*
			, b.ifmmName
			, b.ifmmTel
		FROM reservation a
		LEFT JOIN member b 
		ON a.member_seq = b.ifmmSeq 
		WHERE a.member_seq = #{ifmmSeq}
		AND a.ifrsSeq = #{ifrsSeq}
	</select>
	
	<!-- 예약 정보수정 -->
	<update id="changeInfo">
		UPDATE reservation
		SET
			ifrsPetName = #{ifrsPetName}
			, ifrsPurpose = #{ifrsPurpose}
			, ifrsHopeDate = #{ifrsHopeDate}
			, ifrsRequest = #{ifrsRequest}
			, ifrsPurpose = #{ifrsPurpose}
		WHERE 1=1
		AND ifrsSeq = #{ifrsSeq}
	</update>
	
	<!-- 예약 취소 -->
	<delete id="deleteInfo">
		DELETE FROM reservation
		WHERE ifrsSeq = #{ifrsSeq}
	</delete>
	
</mapper>