<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dailypet.infra.modules.codegroup.CodeGroupMapper">

    <resultMap id="resultMapObj" type="com.dailypet.infra.modules.codegroup.CodeGroup"></resultMap>
	
	<select id="selectList" resultMap="resultMapObj">
		SELECT
			a.ifcgSeq
			,a.ifcgName
			,a.ifcgName_eng
			,a.ifcgModDate
			,a.ifcgUseNy
			,a.ifcgDelNy
			,(select COUNT(aa.cg_ifcgSeq) from code aa WHERE aa.cg_ifcgSeq = a.ifcgSeq ) AS ifcgcodeCount
		FROM codegroup a
		WHERE 1=1
	</select>


</mapper>	